/*-----------------Globals-----------------*/
:root {
    --high1: rgb(170, 0, 0, 0.8);
    --high2: rgb(170, 0, 0, 0.5);
    --high3: rgba(170, 0, 0, 0.2);

    --medium1: rgb(187, 99, 0, 0.8);
    --medium2: rgb(187, 99, 0, 0.5);
    --medium3: rgb(187, 99, 0, 0.2);

    --low1: rgb(227, 207, 0, 0.8);
    --low2: rgb(227, 207, 0, 0.5);
    --low3: rgb(227, 207, 0, 0.2);

    --complete: rgba(160, 215, 140, 0.8);

    --lightGray: rgb(240, 240, 240);
    --darkGray: rgb(47, 47, 47);
}

body {
    background-color: var(--lightGray);
    color: var(--darkGray);
}

/*-----------------Accordion Adjustments-----------------*/

.accordion-button:not(.collapsed) {
    background-color: inherit;
    transform: none;
    color: inherit;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

/*-----------------Modal Adjustments-----------------*/
.modal-header {
    background-color: var(--lightGray);
    color: inherit;
}

.modal-footer {
    background-color: var(--lightGray);
    color: inherit;
}

/*-----------------Priority Classes-----------------*/

.high1 {
    background-color: var(--high1);
}

.high2 {
    background-color: var(--high2);
}

.high3 {
    background-color: var(--high3);
}

.medium1 {
    background-color: var(--medium1);
}

.medium2 {
    background-color: var(--medium2);
}

.medium3 {
    background-color: var(--medium3);
}

.low1 {
    background-color: var(--low1);
}

.low2 {
    background-color: var(--low2);
}

.low3 {
    background-color: var(--low3);
}

.complete {
    background-color: var(--complete);
}